
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
}
.App-header {
  flex: 0 0 60px;
  padding: 20px;
  color: #000;
  background-color: #fff;
  display: flex;
  border: 1px solid #e3e3e3;
  min-height: 0px;
}

.App-content {
  flex: 1 1 auto;
  min-height: 0px;
  display: flex;

}

.App-footer {
  min-height: 0px;
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.App-logo {
  min-height: 0px;
  max-height: 100%;
  max-width: 100%;
  flex: 0 0 200px;
}

.App-content {
  min-height: 300px;
  padding: 20px;
}

.App-nav {
  margin-left: auto;
  display: flex;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}


/* Nav */
ul.nav {
  display: flex;
  align-items: center;
}

ul.nav a {
  text-decoration: none;
  font-family: 'Catamaran', sans-serif;
  font-weight: 900;
}

ul.nav li {
  padding: 2rem;
  display: inline-block;
}

/* Filter */

.Gcode-filter {
  display: flex;
  align-items: flex-start;
}

ul.filter {
  border: 1px solid #e3e3e3;
  padding: 10px;
}

ul.filter .heading {
  font-weight: 700;
  border-bottom: 1px solid #e3e3e3;

}

ul.filter li {
  padding: 0.5em;
  display: flex;
  align-items: center;
}

ul.filter .machine_name {
  margin-left: 1em;
}


/* Gcode List */

.Gcode-list {
  display: flex;
  flex: 1;
}

input[type=checkbox] {
  visibility: hidden;
}

.gcodes {
  display: flex;
  flex-wrap: wrap;
}

.gcode {
  flex: 1 1 calc(33% - 40px);
  margin: 0px 20px 20px 20px;
}

.gcode-image img {
  max-width: 100%;
  transition: all 0.3s;
}

.gcode-image {
  overflow: hidden;
  position: relative;
}

.gcode-image:hover img {
  transform: scale(1.1);
}

.gcode-image .gcode-info {
  position: absolute;
  left: 1em;
  top: 1em;
  color: #fff;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px #000;
}

/* Upload */

.App-upload {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.upload-info,
.upload-data {
  flex: 1 1 auto;
  display: flex;
}

.upload-info {
  flex-basis: 50%;
}

.upload-data {
  min-width: 35%;
  border: 1px solid #000;
  border-left: none;
}

.upload-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.upload-image {
  flex: 1;
  text-align: center;
  margin-top: 15px;
}

.App-upload label, 
.App-upload input[type=text],
.App-upload input[type=number] {
  font-size: 1em;
  outline: none;
  padding: 15px 32px;
  border: none;
}

.App-upload label {
  border-right: 1px solid black;
  flex-basis: 150px;
}

.styled-select {
  overflow: hidden;
}

.styled-select select {
  padding: 15px 32px;
  width: 100%;
  border: none;
  box-shadow: none;
  font-size: 1em;
  outline: none;
  appearance:none ;
}

.upload-info {
  display:flex;
  flex-wrap:wrap;
}

.upload-item {
  display: flex;
  flex: 1 1 100%;
  border:1px solid #000;
  border-top: none;
}

.upload-item:first-child {
  border-top:1px solid #000;
}

/*
.upload-item.upload-material {
  flex-basis: calc(50% - 2px);
}*/

.upload-item .upload-print-time {
  max-width: 5em;
  border-left: 1px solid black;
}

.upload-item > * {
  flex:1 0 auto;
}


.upload-item label {
  max-width: 150px;
  flex-shrink: 0;
}

button.print_mode_select {
  border-radius: 0px;
  font-size: 1em;
  padding: 0px;
  flex-basis: 0%;
}

button.print_mode_select.active {
  color: #fff;
  background-color: #000;
}

.error_border {
  border: 2px solid red !important;
}

/* Account */

.App-login{
  width:100%;
}

.login-form .login-register {
  transition: all 0.4s ease;
  flex-basis: 100%;
  font-size: 1.2em;
}

.login-register:hover {
  color: #85cd37;
  text-decoration: underline;
  cursor: pointer;
}

.login-form {
  display:flex;
  flex-wrap: wrap;
}

.login-form > * {
  margin: 10px;
  flex: 1 1 40%;
}

/* radio_box */
.check_box {
  width: 26px;
  height: 26px;
  background: white;
  border: 2px solid #85cd37;
  position: relative;
}

.check_box label {
  cursor: pointer;
  position: absolute;
  width: 26px;
  height: 26px;
  left: -2px;
  top: -2px;
}

.check_box label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  background: #85cd37;
}

.check_box label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.check_box input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* media query */
@media (max-width: 1200px) {
  .gcode {
    flex: 1 1 calc(50% - 40px);
  }
  .Gcode-filter {
    display: flex;
  }
}

@media (max-width: 667px) {
  .gcode {
    flex: 1 1 100%;
  }
  .Gcode-filter {
    display: none;
  }
}

@media (max-width: 900px) {
  .upload-data{
    border-top: none;
    border-left: 1px solid #000;
    min-height: 50px;
  }
}

.green {
  background-color: #85cd37;
}